.grid-mini {
	height: auto;
	flex-wrap: wrap;
	display: flex;
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}

.grid-mini-title {
	width: 100%;
	display: flex;
	padding: 0.25rem 1rem;
}



.grid-item-mini {
	width: 96px;
	height: 96px;
	margin: 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	text-decoration: none;
	text-align: center;
	color: inherit;
	transition: 0.3s;
}

.grid-item-mini:hover {
	box-shadow: 0 3px 15px 0px rgba(0, 0, 0, 0.4), 0 -3px 15px 0px rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

.app-icon {
	margin: 1rem auto;
}

.app-icon > *::before {
	font-size: 2rem;
}

.grid-item-mini > span {
	margin: 0 auto;
}

.grid-item-mini * {
	transition: 0.3s;
}

.grid-item-mini:hover * {
	filter: drop-shadow(0 0 3px);
}