.grid-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 100%;
	max-width: 1600px;
	/*max-height: 420px;*/
	margin: 0 auto 0;
	user-select: none;
	-moz-user-select: none;
	padding-bottom: 4rem;
}

.title {
	display: flex;
	width: 100%;
	justify-content: left;
	align-items: flex-start;
	align-content: flex-start;
	justify-items: left;
	padding: 1rem 2rem;
}

.title > * {
	padding: 0;
	margin: auto 1rem;
	cursor: auto;
}

.grid-content > h1, .grid-content > a {
	width: 100%;
	padding: 1rem 2rem;
	text-shadow: 0 0 0px;
}

.grid-content a {
	cursor: pointer;
}

.grid-item {
	display: inline-block;
	flex-grow: 0;
	flex-shrink: 0;
	/* max-width: 360px; */
	width: 25%;
	height: 256px;
	padding: 2rem 0;
	margin: auto;
	border-radius: 8px;
	transition: 0.3s;
	position: relative;
	/*animation: grid-blur 0.3s;*/
}

.grid-item:hover {
	box-shadow: 0 3px 15px 0px rgba(0, 0, 0, 0.4), 0 -3px 15px 0px rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	/*background: rgba(43, 43, 43,  0.4);*/
	/*background: linear-gradient(135deg, rgba(0, 0, 0, 0.4) 0%, rgba(43, 43, 43, 0.4) 100%);*/
	/*animation: grid-hover 0.3s;*/
}






/* 
@keyframes grid-hover {
	0% {
		background: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(43, 43, 43, 0) 100%);
	}
	10% {
		background: linear-gradient(135deg, rgba(0, 0, 0, 0.04) 0%, rgba(43, 43, 43, 0.04) 100%);
	}
	20% {
		background: linear-gradient(135deg, rgba(0, 0, 0, 0.08) 0%, rgba(43, 43, 43, 0.08) 100%);
	}
	30% {
		background: linear-gradient(135deg, rgba(0, 0, 0, 0.12) 0%, rgba(43, 43, 43, 0.12) 100%);
	}
	40% {
		background: linear-gradient(135deg, rgba(0, 0, 0, 0.16) 0%, rgba(43, 43, 43, 0.16) 100%);
	}
	50% {
		background: linear-gradient(135deg, rgba(0, 0, 0, 0.2) 0%, rgba(43, 43, 43, 0.2) 100%);
	}
	60% {
		background: linear-gradient(135deg, rgba(0, 0, 0, 0.24) 0%, rgba(43, 43, 43, 0.24) 100%);
	}
	70% {
		background: linear-gradient(135deg, rgba(0, 0, 0, 0.28) 0%, rgba(43, 43, 43, 0.28) 100%);
	}
	80% {
		background: linear-gradient(135deg, rgba(0, 0, 0, 0.32) 0%, rgba(43, 43, 43, 0.32) 100%);
	}
	90% {
		background: linear-gradient(135deg, rgba(0, 0, 0, 0.36) 0%, rgba(43, 43, 43, 0.36) 100%);
	}
	100% {
		background: linear-gradient(135deg, rgba(0, 0, 0, 0.4) 0%, rgba(43, 43, 43, 0.4) 100%);
	}
}

@keyframes grid-blur {
	0% {
		background: linear-gradient(135deg, rgba(0, 0, 0, 0.4) 0%, rgba(43, 43, 43, 0.4) 100%);
	}
	10% {
		background: linear-gradient(135deg, rgba(0, 0, 0, 0.36) 0%, rgba(43, 43, 43, 0.36) 100%);
	}
	20% {
		background: linear-gradient(135deg, rgba(0, 0, 0, 0.32) 0%, rgba(43, 43, 43, 0.32) 100%);
	}
	30% {
		background: linear-gradient(135deg, rgba(0, 0, 0, 0.28) 0%, rgba(43, 43, 43, 0.28) 100%);
	}
	40% {
		background: linear-gradient(135deg, rgba(0, 0, 0, 0.24) 0%, rgba(43, 43, 43, 0.24) 100%);
	}
	50% {
		background: linear-gradient(135deg, rgba(0, 0, 0, 0.2) 0%, rgba(43, 43, 43, 0.2) 100%);
	}
	60% {
		background: linear-gradient(135deg, rgba(0, 0, 0, 0.16) 0%, rgba(43, 43, 43, 0.16) 100%);
	}
	70% {
		background: linear-gradient(135deg, rgba(0, 0, 0, 0.12) 0%, rgba(43, 43, 43, 0.12) 100%);
	}
	80% {
		background: linear-gradient(135deg, rgba(0, 0, 0, 0.08) 0%, rgba(43, 43, 43, 0.08) 100%);
	}
	90% {
		background: linear-gradient(135deg, rgba(0, 0, 0, 0.04) 0%, rgba(43, 43, 43, 0.04) 100%);
	}
	100% {
		background: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(43, 43, 43, 0) 100%);
	}
}
 */
.grid-item > * {
	text-align: center;
	display: block;
	margin: 1rem;
	cursor: default;
	user-select: none;
	-moz-user-select: none;
}

.icon {
	width: 4rem;
	height: 4rem;
	filter: invert(1) drop-shadow(0 0 5px);
	margin: 1rem auto;
}

.grid-item > span {
	text-align: center;
	display: block;
}

.grid-item > span::before {
	font-size: 4rem;
	text-shadow: 0 0 5px;
	text-align: center;
}

.grid-item > a {
	text-align: left;
	position: absolute;
	bottom: 0;
	right: 0;
	margin-bottom: 2rem;
	cursor: pointer;
}

.grid-item > a::after, .title a::after {
	content: "\EA94";
	font-family: "Micon";
	font-size: 0.75rem;
	/*position: relative;
	top: 1px;*/
	padding-left: 0.25rem;
	padding-right: 0.25rem;
	transition: 0.2s;
}

.grid-item > a:hover::after, .title a:hover::after {
	padding-left: 0.5rem;
	padding-right: 0;
}

@media (max-width: 800px) {
	.grid-item {
		max-width: 48%;
	}
}

@media (max-width: 540px) {
	.grid-item {
		width: 100%;
	}

	.title {
		display: block;
		padding: 1rem;
	}

	.title > * {
		padding: 0.5rem 0;
		margin: auto 0;
		width: 100%;
		display: block;
		cursor: auto;
	}

	.title a {
		text-align: right;
	}
}