.container {
	width: 1600px;
	margin: 0 auto;
	display: flex;
	background: rgba(0, 0, 0, 0.6);
	padding: 0;
}

.subcontainer {
	width: 1280px;
}

.subcontainer > div {
	padding: 1rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root > * > * {
	content: "";
}