.grid {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.file {
	display: flex;
	flex-direction: row;
	color: white;
	text-decoration: none;
	transition: 0.3s;
	height: 48px;
}

.file:hover {
	box-shadow: 0 3px 15px 0px rgba(0, 0, 0, 0.4), 0 -3px 15px 0px rgba(0, 0, 0, 0.4);
}

.icon {
	font-size: 1.5rem;
}

.header {
	padding: 0.5rem 0;
	margin-bottom: 0.5rem;
	box-shadow: 0 3px 1px -1.5px #0078D8;
	height: 18px;
}

.header:hover {
	box-shadow: 0 3px 1px -1.5px #0078D8;
}

.file > * {
	margin: auto 0.5rem;
}

.header > span {
	font-size: 0.75em;
}

.header > .icon {
	font-size: 1rem;
	margin: auto 0.75rem;
}