.tabs {
	/* background: linear-gradient(to bottom, rgba(69,72,77,1) 0%,rgba(43,43,43,1) 100%); */
	position: relative;
	/* background-image: url("http://cdn.rykantech.com/linen.png"); */
	max-height: 120px;
	width: 100vw;
	font-family: "Lucida Grande",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	box-shadow: 0 3px 15px 0px rgba(0, 0, 0, 0.6), 0 -3px 15px 0px rgba(0, 0, 0, 0.6);
	user-select: none;
	-moz-user-select: none;
}

.toolbar {
	left: -24px;
	height: 24px;
	grid-column-start: 2;
	grid-column-end: 3;
	display: flex;
	font-size: 24px;
}

.toolbar > * {
	width: 24px;
	height: 24px;
}

.tabList {
	list-style: none;
	display: flex;
	/* display: grid;
	grid-template-rows: 24px 32px;
	grid-template-columns: 56px auto auto; */
	flex-wrap: wrap;
	/* background: linear-gradient(to bottom, rgba(125,126,125,0.8) 0%,rgba(14,14,14,0.8) 100%); */
	background: linear-gradient(to bottom, rgba(125,126,125,0.75) 0%,rgba(14,14,14,0.75) 100%);
	box-shadow: 0 3px 15px 0px rgba(0, 0, 0, 0.4), 0 -3px 15px 0px rgba(0, 0, 0, 0.4);
	margin: 0;
	height: 32px;
	font-size: 14px;
	padding: 0;
	overflow-y: hidden;
	-webkit-app-region: drag;
}

.tabList * {
	-webkit-app-region: no-drag;
}

.tabListInner {
	display: flex;
	height: 32px;
	margin: auto 0 0;
	grid-row: 2;
	grid-column: 2 / 4;
	padding: 0;
}

.tab {
	display: inline-flex;
	padding: 0px 12px;
	margin: auto 4px 0;
	height: 24px;
	cursor: default;
	position: relative;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	transition: 0.3s;
	border-radius: 4px 4px 0 0;
	color: rgba(255, 255, 255, 1);
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
}

.tab::after {
	/* content: ""; */
	position: absolute;
	bottom: 0;
	background: rgba(255, 255, 255, 0.6);
	transition: 0.3s;
	width: 0;
	height: 2px;
	left: 50%;
	right: 50%;
	border-radius: 2px;
}

.tab:hover {
	box-shadow: inset 0 2px 2px rgba(14,14,14,0.8);
	background: rgba(0, 0, 0, 0.1);
	color: rgba(255, 255, 255, 0.9);
	/* text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6), 0 0 3px; */
}

.tab:focus {
	outline: #0078D7;
}

.panel {
	height: 72px;
	width: 100%;
	display: none;
}

.panel-selected {
	display: flex;
}

.panel > * {
	width: 100%;
	height: 100%;
	display: flex;
}


.selected {
	color: white;
	box-shadow: inset 0 2px 2px rgba(14,14,14,0.8);
	/* background: rgba(0, 0, 0, 0.2); */
	/* box-shadow: 0 3px 15px 0px rgba(0, 0, 0, 0.4), 0 -3px 15px 0px rgba(0, 0, 0, 0.4); */
}

.selected:hover {
	/* box-shadow: 0 3px 15px 0px rgba(0, 0, 0, 0.4), 0 -3px 15px 0px rgba(0, 0, 0, 0.4); */
	/* background: transparent; */
	color: white;
}

.selected::after {
	left: 12px;
	right: 12px;
	width: calc(100% - 24px);
	background: white;
	background: #0078D7;
}

.selected:hover::after {
	left: 0;
	right: 0;
	width: 100%;
}

.disabled {
	outline: red 1px solid;
}

.ribbon-section {
	display: grid;
	grid-template-columns: repeat(auto-fill, 12px);
	column-width: 12px;
	grid-template-rows: repeat(6, 12px);
	grid-auto-flow: column;
}

.button {
	display: flex;
	justify-content: center;
	align-content: center;
	text-align: center;
	flex-direction: column;
	border-radius: 2px;
	transition: 0.3s;
	/* border: 1px solid transparent; */
}

.button > span {
	transition: 0.3s;
}

.button:hover > span {
	/* background: rgba(84, 84, 84, 0.5); */
	/* background: rgba(255, 255, 255, 0.2); */
	color: #0078D7;
	/* border: 1px solid #0078D7; */
	/* box-shadow: 0 0 15px rgba(17, 17, 17, 0.8); */
	text-shadow: 0 0 2px;
}

/* Dropdown */
/* 
.dropdown-root {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

.dropdown-control {
	height: 24px;
	border-radius: 4px;
	background: rgba(0, 0, 0, 0.6);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.dropdown-placeholder {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	margin: 0 auto;
	padding: 0 0.25rem;
	height: 100%;
	text-align: left;
}

.dropdown-menu {
	background: rgba(0, 0, 0, 0.6);
}
 */