/* Parallax base styles
--------------------------------------------- */

.parallax {
	height: 500px; /* fallback for older browsers */
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-perspective: 300px;
	perspective: 300px;
}

.parallax__group {
	position: relative;
	height: 500px; /* fallback for older browsers */
	height: 100vh;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.parallax__layer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	width: 100%;
	height: 100%;
}

.parallax__layer--fore {
	-webkit-transform: translateZ(90px) scale(.7);
	transform: translateZ(90px) scale(.7);
	z-index: 1;
}

.parallax__layer--base {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	z-index: 4;
}

.parallax__layer--back {
	-webkit-transform: translateZ(-300px) scale(2);
	transform: translateZ(-300px) scale(2);
	z-index: 3;
}

.parallax__layer--deep {
	-webkit-transform: translateZ(-600px) scale(3);
	transform: translateZ(-600px) scale(3);
	z-index: 2;
}


/* Debugger styles - used to show the effect
--------------------------------------------- */

.debug {
	position: fixed;
	top: 0;
	left: .5em;
	z-index: 999;
	background: rgba(0,0,0,.85);
	color: #fff;
	padding: .5em;
	border-radius: 0 0 5px 5px;
}
.debug-on .parallax__group {
	transform: translate3d(100px, 0, -400px) rotateY(30deg);
}
.debug-on .parallax__layer {
	box-shadow: 0 0 0 2px #000;
	opacity: 0.9;
}
.parallax__group {
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}