/* add css styles here (optional) */

.button, .confirm {
	padding: 8px 12px;
	margin: 8px 12px;
	/*background: rgba(255, 255, 255, 0.2);*/
	background: none;
	display: inline-block;
	border: 2px solid rgba(255, 255, 255, 0);
	/*border-radius: 4px;*/
	cursor: default;
	color: inherit;
	font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
	font-size: inherit;
	user-select: none;
	-moz-user-select: none;
	/*box-shadow: 0 3px 1px -1.5px #676767;*/
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
	transition: 0.1s;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.button:hover, .confirm:hover {
	/*border: 2px solid rgba(255, 255, 255, 0.6);
	padding: 8px 12px;*/
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6), 0 0 3px;
	box-shadow: 0 3px 1px -1.5px #0078D8;
}

.button:active, .confirm:active {
	/*background: rgba(255, 255, 255, 0.6);
	border-color: transparent;*/
	cursor: pointer;
	transform: scale(0.975);
}

.button:focus, .confirm:focus {
	box-shadow: 0 3px 1px -1.5px #0078D8;
}

/* Login inputs */

.input {
    padding: 8px 0;
    border: none;
    border-bottom: 1px solid #676767;
    transition: 0.2s;
    display: block;
    margin: 12px auto;
    font-size: 1rem;
    background: transparent;
    color: inherit;
	width: 540px;
	border-color: transparent;
	box-shadow: 0 3px 1px -1.5px #676767;
	font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
}

.input:focus {
	border-bottom: 1px solid #0078D8;
	border-color: transparent;
	outline: none;
	box-shadow: 0 3px 1px -1.5px #0078D8;
}

.names {
	width: 540px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.input[type="name"] {
	width: 256px;
	display: block;
	margin: 12px 0;
}

form.login {
    max-width: 640px;
    max-height: 384px;
    width: 100vw;
    height: 100vh;
	margin: auto;
	/* padding: 16px 0; */
    /* background: rgba(255, 255, 255, 0.4);
	background: rgba(0, 0, 0, 0.4);
	background: transparent; */
	display: flex;
	position: relative;
    flex-direction: column;
    /*justify-items: center;
    justify-content: center;*/
    text-align: left;
    text-justify: left;
    /*border-radius: 8px;*/
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

form.login > a {
	width: 540px;
}

form.login > h1 {
	width: 540px;
}

form.login > * {
	margin: 1rem auto;
}

.confirm {
	margin: 14px 16px!important;
	position: absolute;
	bottom: 0;
	right: 0;
}

.footer {
    /*bottom: 0;*/
    width: 100%;
    height: 24px;
	left: 0;
	margin-bottom: 0;
	display: flex;
	cursor: default;
	justify-content: space-between;
	justify-items: space-between;
	background: linear-gradient(to bottom, rgba(69, 72, 77, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);
	opacity: 1;
	transition: 0.2s;
	font-size: 0.875rem;
	box-shadow: 0 3px 15px 0px rgba(0, 0, 0, 0.4), 0 -3px 15px 0px rgba(0, 0, 0, 0.4);
}

.footer:hover {
	opacity: 1;
}

.footer * {
	margin: auto 0.5rem;
	color: white!important;
}

.hero {
	height: 192px;
	width: 100%;
	display: flex;
	text-transform: capitalize;
	cursor: default;
}

.hero > * {
	display: flex;
	margin: auto!important;
	width: 100%;
	max-width: 1280px;
	padding: 0 2rem;
}

.container {
	width: 100%;
	/* background-attachment: fixed; */
}

.inner-container {
	max-width: 1600px;
	margin: 0 auto;
	padding: 1rem 2rem;
}

.seperatorRow {
	/* height: 100%; */
	display: inline-block;
	flex: 0 0 auto;
	width: 1px;
	background: rgba(255, 255, 255, 0.8);
	margin: 0.25rem;
}

.seperatorCol {
	width: 100%;
	display: inline-block;
	flex: 0 0 auto;
	height: 1px;
	background: rgba(255, 255, 255, 0.8);
	margin: 0 auto;
}

.searchbox {
	font-size: 1rem;
	color: white;
	background: none;
	border: none;
	outline: none;
}

.link {
	text-decoration: none;
	color: #0078D8;
	/*margin: 12px auto;*/
	display: inline-block;
	transition: 0.2s;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
}

.link:hover {
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6), 0 0 3px;
}

.link:visited {
	color: #9A0089;
}

.link:visited:hover {
	text-shadow: 0 0 3px #9A0089;
}

.link:focus {
	outline: none;
	text-decoration: underline;
}

.rykan-slide {
	display: flex!important;
	align-content: center;
	align-items: center;
	justify-items: left;
	text-align: left;
	flex-direction: column;
	position: relative;
}

.slide-wrapper {
	/*display: grid;
	grid-template-columns: repeat(2, 1fr);*/
	width: 100%;
	height: 100%;
	text-align: left;
}

.slide-content {
	display: flex;
	flex-direction: column;
	margin: auto 0;
	justify-content: space-around;
	padding: 0;
	height: 100%;
	text-align: left;
}

.slide-content > div {
	padding: 0 4rem;
}

.slide-image {
	display: flex;
	height: 100%;
	display: none;
}
/*
.rykan-slide h1, .rykan-slide h2, .rykan-slide span {
	margin: 1rem 0;
}
*/
.rykan-slide img {
	display: none;
}
/*
.link::after {
	content: "\EA94";
	font-family: "Micon";
	font-size: 0.75rem;
	position: relative;
	top: 1px;
	padding-left: 0.25rem;
	padding-right: 0.25rem;
	transition: 0.2s;
}

.link:hover::after {
	padding-left: 0.5rem;
	padding-right: 0;
}
*/
.theme-dark {
	/*background-color: #0E0E0E;*/
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	/*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Lucida Grande', sans-serif;*/
	font-family: "Fira Sans", "Helvetica Neue", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarerll", "Open Sans", -apple-system, BlinkMacSystemFont, sans-serif;
	font-family: "Fira Sans", "Lucida Grande", Arial, Helvetica, sans-serif;
	font-size: 1rem;
	color: white;
	/*height: 100vh;
	width: 100vw;
	position: fixed;*/
	width: 100%;
	top: 0;
	left: 0;
}

.theme-light {
	/*background-color: #0E0E0E;*/
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	/*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Lucida Grande', sans-serif;*/
	font-family: "Fira Sans", "Helvetica Neue", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarerll", "Open Sans", -apple-system, BlinkMacSystemFont, sans-serif;
	font-family: "Fira Sans", "Lucida Grande", Arial, Helvetica, sans-serif;
	font-size: 1rem;
	color: #696969;
	width: 100%;
	top: 0;
	left: 0;
}

.theme {
	/* height: 100vh; */
	/* transition-duration: 300ms; */
	/* perspective: 300px; */
	/* transform-style: preserve-3d; */
	/* position: relative; */
	/* overflow-y: auto; */
	/* overflow-x: hidden; */
	transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

.theme * {
	transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

@media (max-width: 540px) {
	.slide-content > div {
		padding: 0 1rem;
	}

	.footer {
		height: auto;
		padding: 0.5rem 0;
		flex-direction: column;
	}

	.footer > * > * {
		padding: 0.5rem;
		margin: 0;
		display: block;
	}
}