/* Metal ------------------------- */

.metal {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto 0;
  outline: none;
  
  font: bold 1.5em/1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  text-align: center;
  color: hsla(0,0%,20%,1);
  text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;
  
  background-color: hsl(0,0%,90%);
  /* box-shadow: */ /* inset hsla(0,0%,15%,  1) 0  0px 0px 4px, */ /* border */
    /* inset hsla(0,0%,15%, .8) 0 -1px 5px 4px, */ /* soft SD */
    /* inset hsla(0,0%,0%, .25) 0 -1px 0px 7px, */ /* bottom SD */
    /* inset hsla(0,0%,100%,.7) 0  2px 1px 7px, */ /* top HL */
    
    /* hsla(0,0%, 0%,.15) 0 -5px 6px 4px, */ /* outer SD */
	/* hsla(0,0%,100%,.5) 0  5px 6px 4px; */ /* outer HL */ 
	
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  
  transition: 0.3s;
}



/* Radial ------------------------- */

.radial {
  /* width: 160px; */
  /* height: 160px; */
  width: 48px;
  height: 48px;
  /* line-height: 160px; */
  border-radius: 80px;
  background-image: -webkit-radial-gradient(  50%   0%,  8% 50%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient(  50% 100%, 12% 50%, hsla(0,0%,100%,.6) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient(   0%  50%, 50%  7%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient( 100%  50%, 50%  5%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
    
    -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   3%, hsla(0,0%,  0%,.1) 3.5%),
    -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%,.1) 7.5%),
    -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.2) 2.2%),
    
    -webkit-radial-gradient( 50% 50%, 200% 50%, hsla(0,0%,90%,1) 5%, hsla(0,0%,85%,1) 30%, hsla(0,0%,60%,1) 100%);
}
/* 
.radial:active {
	box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.8);
}
 */
.radial:before, .radial:after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  
  /* fake conical gradients */
  background-image: -webkit-radial-gradient(  50%   0%, 10% 50%, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,0) 100%),
    -webkit-radial-gradient(  50% 100%, 10% 50%, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,0) 100%),
    -webkit-radial-gradient(   0%  50%, 50% 10%, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,0) 100%),
    -webkit-radial-gradient( 100%  50%, 50% 06%, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,0) 100%);
}
.radial:before { transform: rotate( 65deg); }
.radial:after { transform: rotate(-65deg); }

.active {
	text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px, 0 0 4px;
}

.metal:active, .metal:active::before, .metal:active::after {
	transition-duration: 0.3s;
	box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.6), /* inset 0 2px 8px 1px rgba(0, 0, 0, 0.6), */ 0 0 1px rgba(0, 0, 0, 0.6)
}