.list {
	width: 320px;
	height: auto;
	padding: 1rem 0;
	margin: 0;
	background-image: url("http://api.thumbr.it/whitenoise-400x400.png?background=c43fc400&noise=626262&density=25&opacity=20 ");
	background-repeat: repeat;
	background-position: top left;
	background-attachment: local;
	background-size: initial initial;
	box-shadow: /*3px 0 1px -1.5px, */inset -3px 0 1px -1.5px;
	border-right: 1px solid;
	box-shadow: inset -160px 0 640px -160px rgba(255, 255, 255, 0.6);
}

.list a {
	color: inherit;
	text-decoration: none;
}

.listItem {
	display: flex;
	padding: 0 24px;
	height: 32px;
	cursor: default;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	user-select: none;
	-moz-user-select: none;
	margin: 0;
	transition: 0.1s;
}

.listItem:hover {
	text-shadow: 0 0 3px;
}

.listItem:active {
	/*transform: scale(0.975);*/
	cursor: pointer;
}

.listItemDisabled {
	color: rgba(255, 255, 255, 0.6);
}

.listItemDisabled:hover {
	text-shadow: 0 0 0;
}